body {
  font-family: 'Noticia Text', serif;
  padding: 10px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  font-size: 14px; }

h1 {
  font-size: 1.2rem;
  font-weight: bold; }

input[type="submit"] {
  text-align: center;
  display: block;
  width: 200px;
  margin: 5px auto 0;
  cursor: pointer;
  border-style: none;
  color: white;
  background: black;
  padding: 6px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms; }
  input[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    transform: translateY(-1px);
    background: #333; }

textarea {
  resize: vertical; }

.form-keywords, .form-description {
  padding-bottom: 10px; }

textarea, input[type=text] {
  width: 380px;
  font-size: 0.7rem; }

.input {
  width: 380px; }

.input h1 {
  padding-bottom: 15px;
  text-align: center; }

.output {
  vertical-align: top;
  box-flex: 1;
  padding-left: 20px; }

.output h1 {
  text-align: center; }

.output-keywords, .output-description {
  font-size: 0.7rem;
  padding-bottom: 20px; }

.output-texts {
  padding-left: 15px; }

.chart-legend {
  list-style: none;
  position: relative; }

.error {
  color: #f7464a; }
